.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @include tablet {
        gap: 12px;
    }
    
    li {
        flex-shrink: 0;
    }
    
    a {
        display: inline-block;

        transition: all 0.3s ease-in;

        &:hover {
            background: var(--neutral-grayededed);
            transform: scale(1.05);
        }
    }
}

.account__person {
	display: bock;

	@include mobile {
		display: none;
	}
}

.account__menu {
	display: none;

	@include mobile {
		display: block;
	}
}
