.footer {
	margin-top: 88px;
	padding: 24px 0;
	
	background-color: #000;
	
	font-weight: 400;
	font-size: 12px;
	line-height: 1.8;
	text-transform: capitalize;
	color: var(--neutral-graycbcbcb);

	@include mobile {
		margin-top: 24px;
		padding: 8px 0;
	}
}

.footer__copyright {
	padding-left: 32px;

	@include mobile {
		
		padding-left: 20px;
	}

}
